<div class="container">
<div class="row">
<div class="col">

    <div class="carousel-inner rounded-5 shadow-4-strong mt-3">
        <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
            <mdb-carousel-item>
                <img
                [src]=slides[0].src
                class="d-block w-100"
                alt="{{slides[0].alt}}"
                />
                <div class="carousel-caption d-none d-md-block" style="background-color:rgb(0, 0, 0, 0.4)">
                    <h5 class="display-3 fw-bold" [innerHtml]="slides[0].title"></h5>
                    <p [innerHtml]="slides[0].desc"></p>
                    <button class="btn" [ngClass]="slides[0].btnColor">{{slides[0].btnTitle}}</button>
                </div>
            </mdb-carousel-item>
        
            <mdb-carousel-item>
                <img
                [src]=slides[1].src
                class="d-block w-100"
                alt="{{slides[1].alt}}"
                />
                <div class="carousel-caption d-none d-md-block" style="background-color:rgb(0, 0, 0, 0.4)">
                    <h5 class="display-3 fw-bold" [innerHtml]="slides[1].title"></h5>
                    <p [innerHtml]="slides[1].desc"></p>
                    <button class="btn" [ngClass]="slides[1].btnColor">{{slides[1].btnTitle}}</button>
                </div>
            </mdb-carousel-item>
        
            <mdb-carousel-item>
                <img
                [src]=slides[2].src
                class="d-block w-100"
                alt="{{slides[2].alt}}"
                />
                <div class="carousel-caption d-none d-md-block" style="background-color:rgb(0, 0, 0, 0.4)">
                    <h5 class="display-3 fw-bold" [innerHtml]="slides[2].title"></h5>
                    <p [innerHtml]="slides[2].desc"></p>
                    <button class="btn" [ngClass]="slides[2].btnColor">{{slides[2].btnTitle}}</button>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>







</div>
</div>
</div>