<!--Section: Design Block-->
<section>
    <!-- Intro -->
    <div
            id="intro"
            class="text-center bg-image vh-100"
            style="background-image: url('https://d21buns5ku92am.cloudfront.net/69126/images/347372-tdz-pr-run-and-run-c4ddbb-original-1582278188.jpg');"
            >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100 mt-4">
            <div class="text-white">
            <h1 class="display-3 fw-bold my-4">Foudre Team</h1>
            <hr class="mb-4" style="opacity: 1;" />
            <p class="lead mb-4 pb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit deleniti consequuntur.
            </p>
            <button class="btn btn-info btn-lg me-2 mb-2" data-mdb-ripple-init>Events</button>
            <button class="btn btn-warning btn-lg mb-2" data-mdb-ripple-init>Courses</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Intro -->
</section>
<!--Section: Design Block-->


<div class="container my-5">
    <!--Section: Design Block-->
    <section>
    <h3 class="text-center mb-5">About University</h3>

    <div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
        <img
            src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/4-col/img%20%289%29.jpg"
            class="img-fluid shadow-2-strong rounded"
            alt="Sample image"
            />
    </div>
    <div class="col-lg-6 lead">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
        quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit
        eaque animi maxime.
        </p>
        <p>
        Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
        voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam
        quasi rem magnam ad perferendis iusto.
        </p>
        <ul class="mb-0">
        <li>Nemo animi soluta ratione</li>
        <li>Beatae maxime temporibus</li>
        <li>Consectetur adipisicing elit</li>
        <li>Repellendus voluptatum, impedit</li>
        </ul>
    </div>
    </div>
</section>
<!--Section: Design Block-->

<hr class="my-5" />

<!--Section: Design Block-->
<section>
    <h3 class="text-center mb-5">Organizational issues</h3>

    <p class="text-center mb-5 mx-auto w-responsive">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.
    </p>

    <div class="row">
    <div class="col-12">
        <!-- Pills navs -->
        <ul
            class="nav nav-pills nav-justified mb-3 mx-n2 mt-n2"
            id="issuesTabs"
            role="tablist"
            >
        <li class="nav-item" role="presentation">
            <a
                class="nav-link active"
                id="students-tab"
                data-mdb-pill-init
                href="#students"
                role="tab"
                aria-controls="students"
                aria-selected="true"
                ><i class="fas fa-graduation-cap me-2"></i>Students</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="candidates-tab"
                data-mdb-pill-init
                href="#candidates"
                role="tab"
                aria-controls="candidates"
                aria-selected="false"
                ><i class="fas fa-users me-2"></i>Candidates</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="financial-tab"
                data-mdb-pill-init
                href="#financial"
                role="tab"
                aria-controls="financial"
                aria-selected="false"
                ><i class="fas fa-university me-2"></i>Financial</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="housing-tab"
                data-mdb-pill-init
                href="#housing"
                role="tab"
                aria-controls="housing"
                aria-selected="false"
                ><i class="fas fa-home me-2"></i>Housing</a
            >
        </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content pt-3" id="servicesContent">
        <div
                class="tab-pane fade show active"
                id="students"
                role="tabpanel"
                aria-labelledby="students-tab"
                >
            <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
                <img
                    src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg"
                    class="img-fluid shadow-2-strong rounded"
                    alt="Sample image"
                    />
            </div>
            <div class="col-lg-6">
                <h4 class="mb-4">Academics Students</h4>
                <p class="lead mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta
                ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum,
                magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam
                quasi.Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                animi excepturi modi aut possimus in hic molestias repellendus illo ullam
                odit quia velit.
                </p>
            </div>
            </div>
        </div>
        <div
                class="tab-pane fade"
                id="candidates"
                role="tabpanel"
                aria-labelledby="candidates-tab"
                >
            <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
                <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2840%29.jpg"
                    class="img-fluid shadow-2-strong rounded"
                    alt="Sample image"
                    />
            </div>
            <div class="col-lg-6">
                <h4 class="mb-4">Information for Candidates</h4>
                <p class="lead mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta
                ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum,
                magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam
                quasi.Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                animi excepturi modi aut possimus in hic molestias repellendus illo ullam
                odit quia velit.
                </p>
            </div>
            </div>
        </div>
        <div
                class="tab-pane fade"
                id="financial"
                role="tabpanel"
                aria-labelledby="financial-tab"
                >
            <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
                <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2841%29.jpg"
                    class="img-fluid shadow-2-strong rounded"
                    alt="Sample image"
                    />
            </div>
            <div class="col-lg-6">
                <h4 class="mb-4">Financial Aid</h4>
                <p class="lead mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta
                ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum,
                magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam
                quasi.Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                animi excepturi modi aut possimus in hic molestias repellendus illo ullam
                odit quia velit.
                </p>
            </div>
            </div>
        </div>
        <div
                class="tab-pane fade"
                id="housing"
                role="tabpanel"
                aria-labelledby="housing-tab"
                >
            <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
                <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2842%29.jpg"
                    class="img-fluid shadow-2-strong rounded"
                    alt="Sample image"
                    />
            </div>
            <div class="col-lg-6">
                <h4 class="mb-4">Residential Life</h4>
                <p class="lead mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta
                ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum,
                magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam
                quasi.Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
                animi excepturi modi aut possimus in hic molestias repellendus illo ullam
                odit quia velit.
                </p>
            </div>
            </div>
        </div>
        </div>
        <!-- Pills content -->
    </div>
    </div>
</section>
<!--Section: Design Block-->
</div>

<!--Section: Design Block-->
<section>
<div
        class="bg-image bg-fixed text-center"
        style="
            background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg');
            height: 400px;
            "
        >
    <div class="mask" style="background-color: rgba(63, 81, 181, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
        <p class="display-6 mb-5">
            <i class="fas fa-quote-left fa-xs" aria-hidden="true"></i>
            Creativity requires the courage to let go of certainties
            <i class="fas fa-quote-right fa-xs" aria-hidden="true"></i>
        </p>
        <p class="lead font-italic mb-0">~ Erich Fromm</p>
        </div>
    </div>
    </div>
</div>
</section>
<!--Section: Design Block-->

<div class="container my-5">
<!--Section: Design Block-->
<section class="text-center">
    <h3 class="mb-5">Top courses</h3>

    <div class="row">
    <div class="col-md-6 col-lg-3 mb-4 mb-md-0 pb-2">
        <div class="card">
        <div class="bg-image">
            <img
                src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg"
                class="card-img-top"
                alt="Sample image"
                />
        </div>
        <div class="card-body">
            <h5 class="card-title text-center my-3">Economy</h5>
            <hr class="my-3" />
            <p class="small">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
            </p>
            <a href="#!" class="float-end link-dark"
                >read more
            <i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 pb-2">
        <div class="card">
        <div class="bg-image">
            <img
                src="https://mdbootstrap.com/img/Photos/Others/images/40.jpg"
                class="card-img-top"
                alt="Sample image"
                />
        </div>
        <div class="card-body">
            <h5 class="card-title text-center my-3">Chemistry</h5>
            <hr class="my-3" />
            <p class="small">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
            </p>
            <a href="#!" class="float-end link-dark"
                >read more
            <i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 pb-2">
        <div class="card">
        <div class="bg-image">
            <img
                src="https://mdbootstrap.com/img/Photos/Others/images/57.jpg"
                class="card-img-top"
                alt="Sample image"
                />
        </div>
        <div class="card-body">
            <h5 class="card-title text-center my-3">Journalism</h5>
            <hr class="my-3" />
            <p class="small">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
            </p>
            <a href="#!" class="float-end link-dark"
                >read more
            <i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 pb-2">
        <div class="card">
        <div class="bg-image">
            <img
                src="https://mdbootstrap.com/img/Photos/Others/images/25.jpg"
                class="card-img-top"
                alt="Sample image"
                />
        </div>
        <div class="card-body">
            <h5 class="card-title text-center my-3">Computer science</h5>
            <hr class="my-3" />
            <p class="small">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
            </p>
            <a href="#!" class="float-end link-dark"
                >read more
            <i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </div>
    </div>
</section>
<!--Section: Design Block-->