<div class="container">
    <div class="row">
    <div class="col py-5">

        <section class="mb-4 text-center">
            <h1 class="fw-bold my-4 text-primary"><i class="fas fa-exclamation pe-2"></i> Page not found</h1>
            <p class="w-responsive mx-auto mb-5">Oops! Looks like you followed a bad link. If you think this is a problem with us, please tell us.</p>
            <button type="button" class="btn btn-primary btn-rounded" [routerLink]="['/']">Back to home</button>
        </section>
</div>
</div>
</div>