<div class="container">
    <div class="row">
    <div class="col">

        <h1>Gestion affichage 3 events</h1>

        <p class="lead">Event numéro #1</p>
        <form>
            <!-- Email input -->
            <mdb-form-control class="mb-4">
              <input mdbInput type="text" id="form1Example1" class="form-control" />
              <label mdbLabel class="form-label" for="form1Example1">Image source ex. https://www.xxxx.jpg</label>
            </mdb-form-control>
          
            <!-- Password input -->
            <mdb-form-control class="mb-4">
              <input mdbInput type="text" id="form1Example2" class="form-control" />
                <label mdbLabel class="form-label" for="form1Example2">Titre (max x caracteres)</label>
            </mdb-form-control>

                        <!-- Password input -->
                        <mdb-form-control class="mb-4">
                            <input mdbInput type="text" id="form1Example2" class="form-control" />
                              <label mdbLabel class="form-label" for="form1Example2">Couleur bouton (ex. btn-primary btn-danger btn-success)</label>
                          </mdb-form-control>

                                      <!-- Password input -->
            <mdb-form-control class="mb-4">
                <input mdbInput type="text" id="form1Example2" class="form-control" />
                  <label mdbLabel class="form-label" for="form1Example2">Titre bouton (max x caracteres)</label>
              </mdb-form-control>

            <!-- Submit button -->
            <button mdbRipple type="button" class="btn btn-primary btn-rounded">Update</button>
        </form>




    </div></div></div>