<div class="container">
    <div class="row">
    <div class="col">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-muted" [routerLink]="['/apero']">Presentation</a></li>
                <li class="breadcrumb-item"><a class="text-muted" [routerLink]="['/apero/races']">Races history</a></li>
            </ol>
        </nav>
    
        <h1 class="text-dark fw-bold mb-2">{{'APERO.WELCOME'|translate}}</h1>
        <p class="lead">Course description....</p>
    
        <img
            src="/assets/apero/apero.jpg"
            class="img-fluid rounded"
            alt=""
        />
    
    </div>
    </div>
    </div>