@import 'src/custom-colors.scss';

/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'mdb-angular-calendar/scss/calendar.scss';
@import 'mdb-angular-wysiwyg/scss/wysiwyg.scss';
@import 'mdb-angular-drag-and-drop/scss/drag-and-drop.scss';
@import 'mdb-angular-vector-maps/scss/vector-map.scss';
@import 'mdb-angular-file-upload/scss/file-upload.scss';
@import 'mdb-angular-treeview/scss/treeview.scss';
@import 'mdb-angular-transfer/scss/transfer.scss';
@import 'mdb-angular-mention/scss/mention.scss';
@import 'mdb-angular-parallax/scss/parallax.scss';
@import 'mdb-angular-countdown/scss/countdown.scss';
@import 'mdb-angular-color-picker/scss/color-picker.scss';
@import 'mdb-angular-multi-item-carousel/scss/multi-item-carousel.scss';
@import 'mdb-angular-ecommerce-gallery/scss/ecommerce-gallery.scss';
@import 'mdb-angular-organization-chart/scss/organization-chart.scss';
@import 'mdb-angular-treetable/scss/treetable.scss';

// $mdb-theme-dark-background: $bgrey1;
// $mdb-theme-dark-surface: $bgrey2;
$my-theme-primary: $primary;
$my-theme-secondary: $secondary;
$my-dark-theme: mdb-dark-theme($my-theme-primary, $my-theme-secondary);

.dark {
    @include mdb-theme($my-dark-theme);
    //nav { background-color: $dark !important; }
}

.pointer { cursor: pointer; }
.help { cursor: help;}

.gold { color: gold }
.silver { color: silver }
.bronze { color: #CD7F32  }

html, body {
    height: 100%;  // Ensures both html and body cover the full height of the viewport
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;  // Sets minimum height of main to the full viewport height
}
