<div class="container">
    <div class="row">
    <div class="col">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-muted" [routerLink]="['/cyclo']">Presentation</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-muted" [routerLink]="['/cyclo/races-history']">Races history</a></li> -->
            </ol>
        </nav>
    
        <h1 class="text-dark fw-bold mb-2">La Cyclo by Foudre & Chef de File</h1>
        <p class="lead">{{'CYCLO.WELCOME'|translate}}</p>
    
        <img
            src="/assets/cyclo/cyclo.webp"
            class="img-fluid rounded"
            alt=""
        />
    
    </div>
    </div>
    </div>